# cloudflare account-secrets
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# supabase account-secrets
SUPABASE_ACCOUNT_ACCESS_TOKEN=

# supabase dev-secrets
DEV_SUPABASE_PROJECT_ID=
DEV_SUPABASE_URL=
DEV_SUPABASE_DB_URL=
DEV_SUPABASE_ANON_KEY=

# supabase prod-secrets
PROD_SUPABASE_PROJECT_ID=
PROD_SUPABASE_URL=
PROD_SUPABASE_DB_URL=
PROD_SUPABASE_ANON_KEY=
